* {
  padding: 0;
  margin: 0;
}

:root {
  --main-head-color: #2d5421;
  --main-bg-color: #f3f8f1;
  --main-text-color: #474847;
}

html {
  max-width: 800px;
  margin: auto;
}

header {
  padding: 1rem;
  border-bottom: 0;
  margin-bottom: -2rem;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.border-big {
  border-radius: 10px 40px 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.border-small {
  border-radius: 5px 20px 10px;
}

.creditLink {
  display: block;
}

.navBar {
  margin: 0 auto 0 auto;
}

.navBar ul {
  display: flex;
  flex-wrap: wrap;
}

.navBar ul li {
  width: 200px;
  list-style-type: none;
}

.navLink {
  display: block;
  padding: 1rem;
  color: var(--main-head-color);
  border-radius: 5px 20px 10px;
  text-decoration: none;
}

.navLink {
  color: var(--main-head-color);
}

.navBar ul li a:hover,
.navLink:hover {
  background: white;
}

body {
  background: var(--main-bg-color);
  height:100vh;
  display:flex; 
  flex-direction:column; 
}

h1,
h2,
h3 {
  color: var(--main-head-color);
  margin: 1rem;
}

p,
footer,
details,
table,
ul,
li {
  color: var(--main-text-color);
  margin: 1rem;
}

footer {
  margin-top:auto; 
  min-height:20px;
  text-align:center;
}

/* LADEPUNKT NAVIGASJON START */
.ladepunktContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.by {
  display: block;
  width: 300px;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-head-color);
}

.ladested {
  display: none;
  font-size: 1rem;
}

.by:hover ul .ladested {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.by:hover ul .ladested .navLink:hover {
  background: white;
}

/* LADEPUNKT NAVIGASJON SLUTT */

/* Media queries */

@media only screen and (max-width: 600px) {
  html {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
  }

  .ladested {
    display: block;
  }
  li {
    margin: 0.5rem;
  }
}
